*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

li{
    list-style: none;
}

p{
    line-height: 1.6;
    font-size: 0.9rem;
    font-weight: 400;
    color: #606060;

}

h2{
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}

.header{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(65, 68, 65, 0.3),rgba(33, 34, 32, 0.3)),url('../IMAGES/office(1).jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%,100% 77%,50% 100%,0 75%,0 0);
    position: relative;
}

.header:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0.3;
    z-index: -1;
    background: linear-gradient(to right, #2f3032 0%, #1a1a1b 0%, #151616 100%);
}

.navbar:before{
    content: "";
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0.4;
    z-index: -1;
    background: linear-gradient(to right, #242425 0%, #202221 0%, #151616 100%);
}

.nav-item a{
    color: #fff !important;
    font-weight: bold;
}

.cta{
    font-weight: bolder;
    color: white;
}
.header-section{
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}

.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.header-buttons a{
    border: 1px solid white;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}

.header-buttons a:hover{
    color: #1e00ff;
    background: rgba(255, 255, 255, 0.66);
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.224);
    transition: .5s;
}

.center-div p{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: white;
}

/************ EXTAR DIV STYLING **********************/

.header-extradiv{
    width: 100%;
    height: auto;
    margin: 100px 0;
    text-align: center;
}

.extra-div{
    background: white;
    border: medium none;
    padding: 20px !important;
    border: 20px;
    border-radius: 3px;
    transition: 0.5s;
}

.extra-div:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    transform: translateY(-10px);
}

/************************************** MID-SECTION ******************************************/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.MID{
    height: 100%;
    margin: 0;
    font-family: 'Open sans', sans-serif;
    line-height: 180%;
    color: rgb(255, 255, 255);
    background-color: #323232;
    text-align: center;
}


.first-img{
    background-image: linear-gradient(rgba(65, 68, 65, 0.66),rgba(33, 34, 32, 0.748)),url('../IMAGES/students.jpg');
    min-height: 100%;
}

.second-img{
background-image: linear-gradient(rgba(65, 68, 65, 0.66),rgba(33, 34, 32, 0.748)),url('../IMAGES/students_1.jpg');
    min-height: 60%;
    padding: 10%;
}

.third-img{
    background-image: linear-gradient(rgba(65, 68, 65, 0.66),rgba(33, 34, 32, 0.748)),url('../IMAGES/office_3.jpg');
    min-height: 100%;
    padding: 10%;
    
}

.first-img, .second-img, .third-img{
   position: relative;
   opacity: .86;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   background-repeat: no-repeat;
}

section{
    padding: 50px 80px;
}

.heading_12{
    padding: 10%;
    top: 50%;
    width: 100%;
    font-size: 650%;
    font-weight: bold;
    text-shadow: 0 0 15px #000;
    text-transform: uppercase;
    letter-spacing: 8px;

}

@media(max-width: 768px){
    .heading_12{
        font-size: 250%;
    }

    h1{
        font-size: 95%;
    }

    p{
        font-size: 90%;
    }
}



/***************************** FOOTER SECTION (1) *************************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #39e91e;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




